.general
    //title
    &_title
        font-family: 'RockledgeWUTI'
        font-size: 32px
        margin-bottom: 6px
        display: block
        letter-spacing: 0.04em
        line-height: 34px

    //text
    &_text
        margin-bottom: 6px
        display: block
        letter-spacing: 0.1em
        line-height: 20px
    
    &_text_a
        margin-bottom: 6px
        display: block
        letter-spacing: 0.1em
        line-height: 20px
        text-decoration: underline

    &_column_text
        margin-bottom: 6px
        display: flex
        flex-direction: column
        text-transform: uppercase
        line-height: 16px
