.page_container
    line-height: 24px
    
.buy_tickets
    background: #ff0000
    font-size: 12px
    letter-spacing: 0.25em
    text-align: center
    color: #ffffff
    text-transform: uppercase
    &:hover
        background: #e60000
    .container
        padding: 8px 0px 6px

.page_main
    padding-top: 0px
    display: flex
    width: 100%
    height: 100%
    @media screen and (min-width: #{$dw-780})
        padding-top: 191px
    .container
        padding: 0
        @media screen and (min-width: #{$dw-640})
            padding: 0px 20px
        

.main_wrapper
    height: 100%
    section
        width: 100%
        display: flex
        flex-direction: column
        @media screen and (min-width: #{$dw-780})
            width: calc(100%/3)
        article
            padding: 10px 30px
        &.section_col-1
            .festival
                background: #ff9b7d
                height: 38%
                @media screen and (min-width: #{$dw-780})
                    height: 32vw
                p
                    display: flex
                    letter-spacing: 0.15em
                    height: 100%
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    text-align: center
                    i
                        margin-bottom: 20px
                        display: block
                        &:last-child
                            margin-bottom: 0px
                    span
                        font-family: 'RockledgeWUTI'
                        font-size: 35px
                        margin-bottom: 20px
                        display: block
                        @media screen and (min-width: #{$dw-780})
                            font-size: 46px
            .box_pic
                height: 32%
                @media screen and (min-width: #{$dw-780})
                    height: 32vw
                img
                    object-fit: cover
                    height: 100%
            .discover
                background: #55affa
                flex-grow: 1
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                text-align: center
                padding: 40px 0px
                letter-spacing: 0.15em
                img
                    margin-top: 30px
                    width: auto
                    max-width: 115px
        
        &.section_col-2
            order: -1
            @media screen and (min-width: #{$dw-780})
                order: 0
            .idyll
                height: 90%
                background: #d7d77d
                font-size: 30vw
                line-height: 26vw
                text-align: center
                padding: 6vw 20px
                font-family: 'RockledgeWUTI'
                @media screen and (min-width: #{$dw-780})
                    font-size: 8.5vw    
                    line-height: 9vw
                    height: 75vw
                    padding: 4vw 20px 2vw
                    
                img
                    width: auto
                    max-width: 76vw
                    display: block
                    margin: auto auto 10px

                    @media screen and (min-width: #{$dw-780})
                        max-width: 100%
            .support
                background: #ffa0c3
                text-align: center
                letter-spacing: 0.15em
                flex-grow: 1
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                text-align: center
                padding: 35px 0px
                img
                    width: 100%
                    margin: 26px 1vw 0px
                    max-width: 80px
                    display: inline-block
        &.section_col-3
            .box_pic
                height: 38%
                @media screen and (min-width: #{$dw-780})
                    height: 32vw
                img
                    object-fit: cover
                    height: 100%
            .women
                background: #55affa
                flex-grow: 1
                p
                    display: flex
                    height: 100%
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    text-align: center
                    letter-spacing: 0.15em
                i
                    margin-bottom: 20px
                    display: block
                span
                    font-family: 'RockledgeWUTI'
                    font-size: 35px
                    margin-bottom: 20px
                    display: block
                    @media screen and (min-width: #{$dw-780})
                        font-size: 46px
            .pic
                height: 32%
                object-fit: cover
                @media screen and (min-width: #{$dw-780})
                    height: 32vw