.page_container
    min-height: 100vh
    
    
.buy_tickets
    background: #ff0000
    text-align: center
    color: #ffffff
    text-transform: uppercase

.page_main
    min-height: 100vh
    display: flex
    width: 100%
    height: 100%
    .container
        padding: 0
        @media screen and (min-width: #{$dw-640})
            padding: 0px 20px
        
        

.main_wrapper
    height: 100%
    section
        width: 100%
        display: flex
        flex-direction: column
        @media screen and (min-width: #{$dw-640})
            width: calc(100%/3)
        &.section_col-1
            .festival
               background: #ff9b7d
               flex-grow: 1
               p
                    display: flex
                    height: 100%
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    text-align: center
                    i
                        margin-bottom: 10px
                        display: block
                    span
                        font-family: 'Rockled'
                        font-size: 24px
                        margin-bottom: 10px
                        display: block
            .discover
                background: #55affa
                text-align: center
                padding: 20px 0px
                img
                    width: 50%
        
        &.section_col-2
            .idyll
                background: #d7d77d
                font-size: 100px
                line-height: 85px
                text-align: center
                font-family: 'Rockled'
            .support
                background: #ffa0c3
                text-align: center
                padding-top: 30px
                img
                    width: auto
                    max-width: 45%
                    display: inline-block
        &.section_col-3
            .women
                background: #55affa
                flex-grow: 1
                p
                    display: flex
                    height: 100%
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    text-align: center
                i
                    margin-bottom: 10px
                    display: block
                span
                    font-family: 'Rockled'
                    font-size: 24px
                    margin-bottom: 10px
                    display: block