@import url("grid.css");
@font-face {
  font-family: 'UniversLTStd';
  src: url("../fonts/UniversLTStd.eot?#iefix") format("embedded-opentype"), url("../fonts/UniversLTStd.otf") format("opentype"), url("../fonts/UniversLTStd.woff") format("woff"), url("../fonts/UniversLTStd.ttf") format("truetype"), url("../fonts/UniversLTStd.svg#UniversLTStd") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RockledgeWUTI';
  src: url("../fonts/RockledgeWUTI.eot?#iefix") format("embedded-opentype"), url("../fonts/RockledgeWUTI.otf") format("opentype"), url("../fonts/RockledgeWUTI.woff") format("woff"), url("../fonts/RockledgeWUTI.ttf") format("truetype"), url("../fonts/RockledgeWUTI.svg#RockledgeWUTI") format("svg");
  font-weight: normal;
  font-style: normal;
}

/****Grid layout settings****/
/*General for documetn settings*/
/*Color*/
/*Typography*/
/*h1*/
/*navbar*/
/*navigation icon*/
/*container*/
/*wrapper*/
/*section wrapper*/
/*container wrapper*/
/*btn up*/
header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: #96f5d2;
  text-transform: uppercase;
  font-weight: lighter;
}

@media screen and (min-width: 780px) {
  header {
    position: fixed;
  }
}

header .header {
  padding: 42px 20px 22px;
}

header a {
  display: block;
  min-width: 125px;
  text-align: center;
  letter-spacing: 0.25em;
  margin: 0;
  text-transform: uppercase;
}

header .logo {
  max-width: 400px;
  margin: 20px auto 0px;
  display: block;
}

@media screen and (min-width: 780px) {
  header .logo {
    max-width: 226px;
    display: none;
    margin: 0;
  }
}

header .navbar {
  display: none;
  position: absolute;
  background: #96f5d2;
  width: 100%;
  height: 100vh;
  top: 26%;
  left: 0;
}

@media screen and (min-width: 780px) {
  header .navbar {
    display: block;
    position: static;
    background: transparent;
    height: auto;
    width: auto;
  }
}

header .navbar li {
  margin: 0;
  border-top: 1px solid #002337;
  padding: 10px 25px;
}

header .navbar li:last-child {
  border-bottom: 1px solid #002337;
}

@media screen and (min-width: 780px) {
  header .navbar li:last-child {
    border: none;
  }
}

@media screen and (min-width: 780px) {
  header .navbar li {
    padding: 0;
    border: none;
  }
}

header .navbar .logo_li, header .navbar .logo {
  display: none;
}

@media screen and (min-width: 780px) {
  header .navbar .logo_li, header .navbar .logo {
    display: block;
  }
}

.page_container {
  line-height: 24px;
}

.buy_tickets {
  background: #ff0000;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.buy_tickets:hover {
  background: #e60000;
}

.buy_tickets .container {
  padding: 8px 0px 6px;
}

.page_main {
  padding-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 780px) {
  .page_main {
    padding-top: 191px;
  }
}

.page_main .container {
  padding: 0;
}

@media screen and (min-width: 640px) {
  .page_main .container {
    padding: 0px 20px;
  }
}

.main_wrapper {
  height: 100%;
}

.main_wrapper section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 780px) {
  .main_wrapper section {
    width: calc(100%/3);
  }
}

.main_wrapper section article {
  padding: 10px 30px;
}

.main_wrapper section.section_col-1 .festival {
  background: #ff9b7d;
  height: 38%;
}

@media screen and (min-width: 780px) {
  .main_wrapper section.section_col-1 .festival {
    height: 32vw;
  }
}

.main_wrapper section.section_col-1 .festival p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.15em;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main_wrapper section.section_col-1 .festival p i {
  margin-bottom: 20px;
  display: block;
}

.main_wrapper section.section_col-1 .festival p i:last-child {
  margin-bottom: 0px;
}

.main_wrapper section.section_col-1 .festival p span {
  font-family: 'RockledgeWUTI';
  font-size: 35px;
  margin-bottom: 20px;
  display: block;
}

@media screen and (min-width: 780px) {
  .main_wrapper section.section_col-1 .festival p span {
    font-size: 46px;
  }
}

.main_wrapper section.section_col-1 .box_pic {
  height: 32%;
}

@media screen and (min-width: 780px) {
  .main_wrapper section.section_col-1 .box_pic {
    height: 32vw;
  }
}

.main_wrapper section.section_col-1 .box_pic img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.main_wrapper section.section_col-1 .discover {
  background: #55affa;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 40px 0px;
  letter-spacing: 0.15em;
}

.main_wrapper section.section_col-1 .discover img {
  margin-top: 30px;
  width: auto;
  max-width: 115px;
}

.main_wrapper section.section_col-2 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media screen and (min-width: 780px) {
  .main_wrapper section.section_col-2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.main_wrapper section.section_col-2 .idyll {
  height: 90%;
  background: #d7d77d;
  font-size: 30vw;
  line-height: 26vw;
  text-align: center;
  padding: 6vw 20px;
  font-family: 'RockledgeWUTI';
}

@media screen and (min-width: 780px) {
  .main_wrapper section.section_col-2 .idyll {
    font-size: 8.5vw;
    line-height: 9vw;
    height: 75vw;
    padding: 4vw 20px 2vw;
  }
}

.main_wrapper section.section_col-2 .idyll img {
  width: auto;
  max-width: 76vw;
  display: block;
  margin: auto auto 10px;
}

@media screen and (min-width: 780px) {
  .main_wrapper section.section_col-2 .idyll img {
    max-width: 100%;
  }
}

.main_wrapper section.section_col-2 .support {
  background: #ffa0c3;
  text-align: center;
  letter-spacing: 0.15em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 35px 0px;
}

.main_wrapper section.section_col-2 .support img {
  width: 100%;
  margin: 26px 1vw 0px;
  max-width: 80px;
  display: inline-block;
}

.main_wrapper section.section_col-3 .box_pic {
  height: 38%;
}

@media screen and (min-width: 780px) {
  .main_wrapper section.section_col-3 .box_pic {
    height: 32vw;
  }
}

.main_wrapper section.section_col-3 .box_pic img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.main_wrapper section.section_col-3 .women {
  background: #55affa;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main_wrapper section.section_col-3 .women p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.15em;
}

.main_wrapper section.section_col-3 .women i {
  margin-bottom: 20px;
  display: block;
}

.main_wrapper section.section_col-3 .women span {
  font-family: 'RockledgeWUTI';
  font-size: 35px;
  margin-bottom: 20px;
  display: block;
}

@media screen and (min-width: 780px) {
  .main_wrapper section.section_col-3 .women span {
    font-size: 46px;
  }
}

.main_wrapper section.section_col-3 .pic {
  height: 32%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 780px) {
  .main_wrapper section.section_col-3 .pic {
    height: 32vw;
  }
}

footer {
  margin-top: auto;
  background: #96f5d2;
  text-align: center;
  letter-spacing: 0.15em;
  font-size: 14px;
}

footer .container {
  padding: 10px 18px;
}

footer .input_box {
  margin-bottom: 20px;
}

footer .input_box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .input_box input {
  height: 32px;
  padding-top: 4px;
  font-size: 14px;
  max-width: 145px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.15em;
}

@media screen and (min-width: 480px) {
  footer .input_box input {
    width: 210px;
  }
}

footer .input_box input:-webkit-input-placeholder, footer .input_box input:-moz-placeholder, footer .input_box input:-moz-placeholder, footer .input_box input:-ms-input-placeholder {
  color: #000;
}

footer .input_box button {
  color: #96f5d2;
  padding-top: 4px;
  font-size: 14px;
  height: 32px;
  max-width: 95px;
  width: 100%;
  text-align: center;
  margin-left: 10px;
  letter-spacing: 0.15em;
  background: #002337;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  footer .input_box button {
    max-width: 125px;
  }
}

footer span {
  display: block;
}

footer .footer_soc_links a {
  width: 32px;
  height: 32px;
  margin: 20px 10px;
}

footer .footer_soc_links a:hover {
  opacity: 0.6;
}

footer .footer_page_link {
  position: relative;
  max-width: 225px;
  text-decoration: underline;
}

footer .footer_terms {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */