@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Poppins:700");
/****Grid layout settings****/
/*General for documetn settings*/
/*Color*/
/*Typography*/
/*h1*/
/*navbar*/
/*navigation icon*/
/*container*/
/*wrapper*/
/*section wrapper*/
/*container wrapper*/
/*btn up*/
@import url("grid.css");
.general_h1 {
  color: #333333;
  font-weight: 900;
}

.general_h2 {
  color: #01243b;
  font-weight: 900;
}

.general_h3 {
  color: #000000;
  font-weight: 700;
  margin-bottom: 40px;
}

.general_h4 {
  color: #000000;
  font-weight: 700;
}

.general_btn {
  border: none;
  display: inline-block;
  padding: 25px 42px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.general_btn:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 35px 9px -30px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 35px 9px -30px rgba(0, 0, 0, 0.4);
}

.play-icon {
  display: block;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #333333;
  position: relative;
}

.play-icon:after {
  content: "";
  display: block;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid #fff;
  border-right: 0px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
}

.header_logo {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 29px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.header_logo span {
  display: inline-block;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.header_logo span:nth-child(1) {
  -webkit-transition: -webkit-transform 1s 0s;
  transition: -webkit-transform 1s 0s;
  transition: transform 1s 0s;
  transition: transform 1s 0s, -webkit-transform 1s 0s;
}

.header_logo span:nth-child(2) {
  -webkit-transition: -webkit-transform 1s 0.1s;
  transition: -webkit-transform 1s 0.1s;
  transition: transform 1s 0.1s;
  transition: transform 1s 0.1s, -webkit-transform 1s 0.1s;
}

.header_logo span:nth-child(3) {
  -webkit-transition: -webkit-transform 1s 0.2s;
  transition: -webkit-transform 1s 0.2s;
  transition: transform 1s 0.2s;
  transition: transform 1s 0.2s, -webkit-transform 1s 0.2s;
}

.header_logo span:nth-child(4) {
  -webkit-transition: -webkit-transform 1s 0.4s;
  transition: -webkit-transform 1s 0.4s;
  transition: transform 1s 0.4s;
  transition: transform 1s 0.4s, -webkit-transform 1s 0.4s;
}

.header_logo span:nth-child(5) {
  -webkit-transition: -webkit-transform 1s 0.6s;
  transition: -webkit-transform 1s 0.6s;
  transition: transform 1s 0.6s;
  transition: transform 1s 0.6s, -webkit-transform 1s 0.6s;
}

.header_logo span:nth-child(6) {
  -webkit-transition: -webkit-transform 1s 0.7s;
  transition: -webkit-transform 1s 0.7s;
  transition: transform 1s 0.7s;
  transition: transform 1s 0.7s, -webkit-transform 1s 0.7s;
}

.header_logo span:last-child {
  -webkit-transform: rotateX(180deg) rotateY(90deg) translateY(2px);
          transform: rotateX(180deg) rotateY(90deg) translateY(2px);
  -webkit-transition: -webkit-transform 1s 0.8s;
  transition: -webkit-transform 1s 0.8s;
  transition: transform 1s 0.8s;
  transition: transform 1s 0.8s, -webkit-transform 1s 0.8s;
}

.header_logo.show span {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.header_logo.show span:last-child {
  -webkit-transform: rotateX(180deg) rotateY(0deg) translateY(2px);
          transform: rotateX(180deg) rotateY(0deg) translateY(2px);
}

.header_logo.show:before {
  opacity: 1;
}

.header_logo:before {
  content: "";
  display: block;
  opacity: 0;
  -webkit-transition: 0.5s 0.9s;
  transition: 0.5s 0.9s;
  width: 38px;
  height: 26px;
  margin-right: 10px;
  margin-bottom: 4px;
  background-repeat: no-repeat;
  background-image: url("../img/logo.svg");
}

.header_info {
  font-size: 14px;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 12px;
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  opacity: 0;
  -webkit-transition: 0.5s 0.5s;
  transition: 0.5s 0.5s;
}

.header_info.show {
  opacity: 1;
}

@media screen and (min-width: 780px) {
  .header_info {
    margin-right: 5%;
    margin-top: 0;
    width: auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.header_info span {
  display: block;
}

.header_info span:after {
  display: none;
}

@media screen and (min-width: 480px) {
  .header_info span {
    display: inline;
  }
  .header_info span:after {
    content: ' |';
    display: inline-block;
    margin: 0px 10px;
  }
}

.header_info span:last-child {
  margin-top: 10px;
}

@media screen and (min-width: 480px) {
  .header_info span:last-child {
    margin-top: 0;
  }
}

.header_info span:last-child:after {
  display: none;
}

.page_nav {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #17b6ff), to(#0a5bff));
  background-image: linear-gradient(to right, #17b6ff 50%, #0a5bff 100%);
}

.page_nav .container {
  padding: 0;
  overflow: auto;
}

.page_nav .navbar_list {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 960px;
}

.page_nav .navbar_list a {
  padding: 30px 0px;
  display: block;
  position: relative;
}

.page_nav .navbar_list a:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #333333;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) rotateY(90deg);
          transform: translateX(-50%) rotateY(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page_nav .navbar_list a:hover:after, .page_nav .navbar_list a.active:after {
  -webkit-transform: translateX(-50%) rotateY(0deg);
          transform: translateX(-50%) rotateY(0deg);
}

.nav-icon {
  opacity: 0;
  -webkit-transition: 0.5s 0.5s;
  transition: 0.5s 0.5s;
}

.nav-icon.show {
  opacity: 1;
}

.services_header.header {
  position: static;
}

.services_header.header .header_logo {
  color: #0e2c4d;
}

.services_header.header .header_logo:before {
  background-image: url("../img/logo_services.svg");
}

.services_header.header .header_info {
  color: #333333;
}

.services_header.header .nav-icon .nav-icon_line {
  background: #0b5fff;
}

body p {
  font-weight: 300;
}

.main_header {
  height: 100vh;
  max-height: 660px;
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #17b6ff), to(#0a5bff));
  background-image: linear-gradient(to right, #17b6ff 50%, #0a5bff 100%);
}

.main_header img {
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 0.5s 0.5s;
  transition: 0.5s 0.5s;
}

@media screen and (min-width: 780px) {
  .main_header img {
    width: auto;
  }
}

.main_header.show img {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.main_about {
  opacity: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: 1s 0.7s;
  transition: 1s 0.7s;
}

.main_about.show {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.main_about article {
  margin-top: 40px;
}

.main_about h2 {
  margin-bottom: 40px;
}

.main_about p {
  line-height: 28px;
  color: #01243b;
}

.main_services {
  margin: 80px 0px;
}

.main_services_title {
  padding-left: 0vw;
  width: 100%;
}

@media screen and (min-width: 780px) {
  .main_services_title {
    padding-left: 4vw;
    width: 50%;
  }
}

@media screen and (min-width: 1366px) {
  .main_services_title {
    padding-left: 16vw;
  }
}

.main_services_title .inner-box {
  background: #14a1ff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #fff;
  padding: 55px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 780px) {
  .main_services_title .inner-box {
    height: 550px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -85px;
  }
}

.main_services_title .inner-box span {
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}

@media screen and (min-width: 640px) {
  .main_services_title .inner-box span {
    font-size: 29px;
    line-height: 36px;
  }
}

.main_services_title .inner-box h2 {
  color: #ffffff;
  margin-bottom: 10px;
  margin-right: 34px;
}

@media screen and (min-width: 640px) {
  .main_services_title .inner-box h2 {
    margin-right: 52px;
  }
}

.main_services_title .inner-box:after {
  content: '';
  display: none;
  width: 94px;
  height: 82px;
  position: absolute;
  background-image: url("../img/services_dots.svg");
  background-repeat: no-repeat;
  right: 10px;
  bottom: 0;
  -webkit-transform: translateY(112%);
          transform: translateY(112%);
}

@media screen and (min-width: 640px) {
  .main_services_title .inner-box:after {
    display: block;
  }
}

.main_services_nav {
  padding: 10px 20px;
  position: relative;
  z-index: 0;
  -webkit-box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #fff;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .main_services_nav {
    padding: 45px 50px 85px 50px;
  }
}

@media screen and (min-width: 780px) {
  .main_services_nav {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50%;
  }
}

.main_services_nav ul {
  max-width: 530px;
  width: 100%;
}

.main_services_nav ul li {
  margin-bottom: 20px;
}

.main_services_nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 20px 25px;
}

.main_services_nav ul a img {
  margin-right: 10%;
  max-width: 80px;
}

.main_services_nav ul a span {
  display: block;
  font-size: 20px;
  color: #2d4a57;
  font-weight: 600;
  line-height: 24px;
}

.main_services_nav ul a span i {
  display: block;
  font-size: 14px;
  color: #666666;
  font-weight: 400;
}

.main_services_nav ul a:hover {
  background: #f3f3f3;
}

.main_services_nav .general_btn {
  background: #f4ba00;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 20%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.main_services_nav .general_btn:hover {
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
}

.main_information {
  margin: 80px 0px;
}

.main_information_text {
  padding: 60px 20px 60px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

@media screen and (min-width: 480px) {
  .main_information_text {
    padding: 60px 65px 60px 5vw;
  }
}

@media screen and (min-width: 780px) {
  .main_information_text {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 600px;
    width: 50%;
  }
}

@media screen and (min-width: 1366px) {
  .main_information_text {
    padding: 60px 65px 60px 18vw;
  }
}

.main_information_text:after {
  content: '';
  display: none;
  width: 94px;
  height: 82px;
  position: absolute;
  background-image: url("../img/services_dots.svg");
  background-repeat: no-repeat;
  right: 14px;
  bottom: 16px;
}

@media screen and (min-width: 640px) {
  .main_information_text:after {
    display: block;
  }
}

.main_information_text h2 {
  margin-bottom: 30px;
}

.main_information_text p {
  font-size: 20px;
  color: #01243b;
  line-height: 26px;
}

.main_information_pic {
  position: relative;
  z-index: 1;
  width: 100%;
  max-height: 420px;
  overflow: hidden;
}

@media screen and (min-width: 780px) {
  .main_information_pic {
    width: 50%;
  }
}

.main_information_pic img {
  width: 100%;
  height: auto;
}

.main_product img {
  width: auto;
  display: block;
  margin-bottom: 40px;
}

.main_product_text {
  max-width: 520px;
  margin-bottom: 40px;
}

.main_product_text h2 {
  margin-bottom: 30px;
}

.main_product_video {
  min-height: 300px;
  background-color: #fbb74d;
  position: relative;
}

@media screen and (min-width: 480px) {
  .main_product_video {
    min-height: 500px;
  }
}

.main_product_video .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main_product h3 {
  margin-top: 50px;
}

.main_product_box .box-item {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 38px 35px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  margin-bottom: 50px;
}

.main_product_box .box-item h4 {
  margin-bottom: 12px;
}

.main_product_box .box-item img {
  margin-bottom: 27px;
}

.main_product_box .box-item p {
  line-height: 24px;
}

.main_testimonials {
  background-color: #a9d9cb;
}

.main_testimonials_carousel {
  margin-top: 40px;
}

.main_testimonials_carousel .owl-nav button {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #5b927d !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (min-width: 560px) {
  .main_testimonials_carousel .owl-nav button {
    width: 50px;
    height: 50px;
  }
}

.main_testimonials_carousel .owl-nav button:hover {
  background: #3b5a4f !important;
}

.main_testimonials_carousel .owl-nav button span {
  width: 8px;
  height: 8px;
  display: block;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

@media screen and (min-width: 560px) {
  .main_testimonials_carousel .owl-nav button span {
    width: 15px;
    height: 15px;
  }
}

.main_testimonials_carousel .owl-nav button.owl-prev {
  left: 0;
  padding-left: 4px !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 560px) {
  .main_testimonials_carousel .owl-nav button.owl-prev {
    padding-left: 6px !important;
  }
}

.main_testimonials_carousel .owl-nav button.owl-prev span {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.main_testimonials_carousel .owl-nav button.owl-next {
  right: 0;
  padding-right: 6px !important;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

@media screen and (min-width: 560px) {
  .main_testimonials_carousel .owl-nav button.owl-next {
    padding-right: 8px !important;
  }
}

.main_testimonials_carousel .owl-nav button.owl-next span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main_testimonials_box {
  padding: 25px 35px;
  border-radius: 20px;
  background-color: #fff;
}

@media screen and (min-width: 480px) {
  .main_testimonials_box {
    padding: 55px 65px;
  }
}

.main_testimonials_box p {
  display: block;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 25px;
}

.main_testimonials .user-box_photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 0px;
  overflow: hidden;
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .main_testimonials .user-box_photo {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}

.main_testimonials .user-box_photo img {
  width: auto;
  height: auto;
}

.main_testimonials .user-box_info {
  line-height: 23px;
}

.main_testimonials .user-box_info span {
  display: block;
  font-size: 16px;
  color: #333;
}

.footer span {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.footer span a {
  font-size: 20px;
  display: block;
  color: #333;
  font-weight: 800;
}

.footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

@media screen and (min-width: 780px) {
  .footer_contact {
    margin-bottom: 0;
  }
}

.footer_contact h2 {
  margin-bottom: 50px;
}

.footer_contact .copyright {
  margin-top: auto;
  display: none;
}

@media screen and (min-width: 780px) {
  .footer_contact .copyright {
    display: block;
  }
}

.footer_mail {
  margin-bottom: 50px;
}

.footer_mail a {
  color: #0d73ff !important;
}

.footer_phone .phone-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
}

.footer_phone .phone-box img {
  width: auto;
  margin-right: 20px;
}

.footer_map iframe {
  width: 100%;
  border: 6px solid #fff;
  -webkit-box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
}

.footer_map span {
  font-size: 18px;
  color: #666666;
  line-height: 24px;
}

.footer_map .copyright {
  margin-top: 20px;
  display: block;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (min-width: 780px) {
  .footer_map .copyright {
    display: none;
  }
}

.main-services {
  margin: 40px 0px;
}

.main-services_header_content img {
  max-width: 135px;
  margin-bottom: 30px;
}

.main-services_header_content span {
  color: #33899a;
  font-size: 14px;
  display: block;
  margin-top: 8px;
}

@media screen and (min-width: 640px) {
  .main-services_header_content span {
    font-size: 18px;
  }
}

.main-services_header_content p {
  font-size: 16px;
  display: block;
  margin-top: 30px;
  font-weight: 400;
}

@media screen and (min-width: 640px) {
  .main-services_header_content p {
    font-size: 20px;
  }
}

.main-services_description {
  color: #ffffff;
}

.main-services_description .container {
  padding: 0px;
}

@media screen and (min-width: 640px) {
  .main-services_description .container {
    padding: 40px 30px;
  }
}

.main-services_description .inner-box {
  background: #14a1ff;
  padding: 65px 15px;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 300;
}

@media screen and (min-width: 560px) {
  .main-services_description .inner-box {
    padding: 65px 55px;
  }
}

@media screen and (min-width: 640px) {
  .main-services_description .inner-box {
    border-radius: 10px;
    font-size: 26px;
  }
}

.main-services_description h2 {
  color: #ffffff;
  margin-bottom: 30px;
}

.main-services_description p {
  display: block;
  margin-bottom: 30px;
}

.main-services_description ul {
  margin-left: 30px;
}

.main-services_description ul li {
  list-style: disc;
  margin-bottom: 20px;
}

.main-services_consultation {
  background: #a9d9cb;
  text-align: center;
}

.main-services_consultation .general_btn {
  margin-top: 40px;
  background: #01243b;
  color: #fff;
}

.crm_page_header .main-services_header_content, .crm_page_header .main-services_header_pic {
  width: 100%;
}

@media screen and (min-width: 780px) {
  .crm_page_header .main-services_header_content, .crm_page_header .main-services_header_pic {
    width: calc(50% - 60px);
  }
}

.crm_page_header .main-services_header_content {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 780px) {
  .crm_page_header .main-services_header_content {
    padding-left: 4vw;
  }
}

@media screen and (min-width: 1366px) {
  .crm_page_header .main-services_header_content {
    padding-left: 17vw;
  }
}

.crm_page_header .main-services_header_pic {
  padding: 0px;
  background: #fff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 0;
  margin-top: 40px;
}

@media screen and (min-width: 780px) {
  .crm_page_header .main-services_header_pic {
    margin-top: 0;
    padding: 20px 0px 20px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.crm_page_header .main-services_header_pic .pic-wrap {
  height: 490px;
  overflow: hidden;
}

.crm_page_header .main-services_header_pic .pic-wrap img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 780px) {
  .crm_page_header .main-services_header_pic .pic-wrap img {
    height: 100%;
    width: auto;
  }
}

@media screen and (min-width: 1366px) {
  .crm_page_header .main-services_header_pic .pic-wrap img {
    width: 100%;
    height: auto;
  }
}

.crm_page_description {
  margin-bottom: 40px;
}

.crm_page_description p, .crm_page_description li {
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 640px) {
  .crm_page_description p, .crm_page_description li {
    font-size: 20px;
  }
}

.crm_page_description p {
  display: block;
  margin-top: 30px;
  line-height: 22px;
}

@media screen and (min-width: 640px) {
  .crm_page_description p {
    line-height: 26px;
  }
}

.crm_page_description ul {
  list-style: disc;
  margin-top: 30px;
  margin-left: 26px;
}

.crm_page_description ul li {
  margin-bottom: 12px;
}

.salesforce_page_cycles_item {
  margin-bottom: 100px;
}

.salesforce_page_cycles_item .item-pic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  background: #14a1ff;
  margin-right: 0px;
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .salesforce_page_cycles_item .item-pic {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.salesforce_page_cycles_item .item-text span {
  font-size: 22px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .salesforce_page_cycles_item .item-text span {
    font-size: 34px;
    text-align: left;
  }
}

.salesforce_page_cycles_item .item-text p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .salesforce_page_cycles_item .item-text p {
    font-size: 20px;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */