@import url("grid.css");
@font-face {
  font-family: 'Product Sans';
  src: url("../fonts/Product-Sans-Bold.ttf");
  font-weight: bold;
}

/****Grid layout settings****/
/*General for documetn settings*/
/*Color*/
/*Typography*/
/*h1*/
/*navbar*/
/*navigation icon*/
/*container*/
/*wrapper*/
/*section wrapper*/
/*container wrapper*/
/*btn up*/
.general-title {
  color: #000;
  text-transform: uppercase;
}

.general-paragraph {
  text-align: justify;
  line-height: 25px;
}

body {
  position: relative;
  max-height: 16430px;
}

.page-wrap {
  position: static;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 640px) {
  .page-wrap {
    position: fixed;
  }
}

.page_header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: transparent;
}

.page_header div {
  background: transparent;
}

.page_header .header_logo {
  font-size: 24px;
  position: relative;
}

.page_header .header_logo:after {
  content: "";
  display: block;
  width: 37px;
  height: 2px;
  position: absolute;
  left: 22px;
  bottom: 0px;
  background: #e33630;
}

.main_scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

@media screen and (min-width: 640px) {
  .main_scroll {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.main_box {
  min-width: 100vw;
  min-height: 100vh;
}

.main_box .container {
  height: 100%;
}

.section_home_subtitle {
  color: #e33630;
  font-size: 36px;
}

.section_home_inner {
  margin-top: 28px;
  width: 100%;
}

.section_home_inner a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  margin-right: 12px;
}

.section_home_inner a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section_home_inner a:hover span:after {
  left: 0;
}

.section_home_inner img {
  width: auto;
  max-height: 24px;
  display: block;
  margin-right: 12px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.section_home_inner span {
  display: block;
  overflow: hidden;
  position: relative;
}

.section_home_inner span:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: -100%;
  background: #000;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.section_about {
  background: #f6f4e8;
}

.section_about .general-title {
  line-height: 40px;
  position: relative;
}

@media screen and (min-width: 640px) {
  .section_about .general-title {
    line-height: 75px;
  }
}

.section_about p {
  display: block;
  margin: 40px 0px 0px;
  color: #e33630;
  max-width: 632px;
}

.section_about_inner img {
  max-height: 76px;
  width: auto;
  height: 100%;
  margin-top: 40px;
  margin-right: 60px;
}

.section_about_inner img:last-child {
  margin-right: 0px;
}

.section_content {
  min-height: 100vh;
  padding: 20px;
  width: 100%;
  background: #223045;
  color: #fff;
  position: relative;
}

@media screen and (min-width: 640px) {
  .section_content {
    width: auto;
    padding: 0px 0px 0px 100px;
  }
}

.section_content_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .section_content_inner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: auto;
  }
}

.section_content_inner .general-title {
  color: #fff;
  font-size: 30px;
  position: relative;
}

@media screen and (min-width: 640px) {
  .section_content_inner .general-title {
    font-size: 50px;
  }
}

.section_content_inner .inner-box {
  margin-right: 0px;
  margin-bottom: 50px;
  max-height: 500px;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 640px) {
  .section_content_inner .inner-box {
    max-width: 600px;
    width: 100vw;
    margin-right: 50px;
    margin-bottom: 0px;
    height: 100%;
  }
}

.section_content_inner .inner-box:first-child .general-title {
  font-size: 35px;
}

@media screen and (min-width: 640px) {
  .section_content_inner .inner-box:first-child .general-title {
    font-size: 60px;
  }
}

.section_content_inner .inner-box:nth-child(2) .picture {
  max-height: 400px;
}

.section_content_inner .inner-box .general-paragraph {
  margin-top: 20px;
  display: block;
}

.section_content_inner .inner-box .picture {
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: #476593;
}

.section_content_inner .inner-box .picture img {
  height: auto;
  width: auto;
}

.section_content_inner .inner-box .inner-content {
  margin-top: auto;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .section_content_inner .inner-box .inner-content {
    width: auto;
  }
}

.section_content_inner .inner-box .inner-content .picture {
  max-width: 100%;
  max-height: 220px;
  margin-top: 40px;
}

@media screen and (min-width: 640px) {
  .section_content_inner .inner-box .inner-content .picture {
    max-width: 370px;
  }
}

.section_content_inner .inner-box.small-img {
  max-width: 100%;
}

@media screen and (min-width: 640px) {
  .section_content_inner .inner-box.small-img {
    max-width: 320px;
  }
}

.section_content_inner .inner-box.middle-img {
  max-width: 100%;
}

@media screen and (min-width: 640px) {
  .section_content_inner .inner-box.middle-img {
    max-width: 520px;
  }
}

.section_why-us {
  background: #e33630;
}

.section_why-us .container {
  max-width: 1100px;
}

.section_why-us_content {
  margin-top: auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 640px) {
  .section_why-us_content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.section_why-us_logo {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .section_why-us_logo {
    width: calc(50% - 50px);
  }
}

.section_why-us span {
  margin-top: auto;
}

.section_why-us span a {
  color: #fff;
  position: relative;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.section_why-us span a:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: -100%;
  bottom: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.section_why-us span a:hover:after {
  left: 0;
}

.section_why-us_text {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .section_why-us_text {
    width: calc(50% - 50px);
  }
}

.section_why-us_text li {
  margin-top: 22px;
}

.section_why-us_text span {
  margin-top: 40px;
  display: block;
  color: initial;
}

.section_why-us_text span a {
  color: initial;
}

.section_why-us_text span a:after {
  background: #000;
}

.object {
  position: absolute;
  z-index: 10;
  display: none;
}

@media screen and (min-width: 640px) {
  .object {
    display: block;
  }
}

.object.ball {
  -webkit-animation: 3s liner-ball infinite;
          animation: 3s liner-ball infinite;
}

.object.ball.num-1 {
  top: 50%;
  left: 32%;
}

.object.ball.num-2 {
  top: 7%;
  left: 58%;
}

.object.ball.num-3 {
  bottom: 60px;
  left: 66%;
}

.object.ball.num-4 {
  bottom: 80px;
  left: 87%;
}

.object.ball .ball {
  border-radius: 50%;
  display: block;
}

.object.ball .ball.num-1 {
  width: 41px;
  height: 41px;
  background: #38f3bd;
}

.object.ball .ball.num-2 {
  width: 76px;
  height: 76px;
  background: #fc5f58;
}

.object.ball .ball.num-3 {
  width: 57px;
  height: 57px;
  background: #6aff52;
}

.object.ball .ball.num-4 {
  width: 70px;
  height: 70px;
  background: #38f3bd;
}

.object.triangle {
  -webkit-animation: 4.5s liner-triangle infinite;
          animation: 4.5s liner-triangle infinite;
}

.object.triangle.num-1 {
  top: 70%;
  left: 20%;
}

.object.triangle.num-1 .triangle {
  display: block;
  border-top: 0px solid transparent;
  border-bottom: 40px solid #efbe16;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
}

.object.triangle.num-2 {
  left: 53%;
  top: 33%;
}

.object.triangle.num-2 .triangle {
  width: 127px;
  display: block;
  height: 129px;
  background-image: url("../img/trigle.svg");
  background-repeat: no-repeat;
}

.object.squer {
  top: 70%;
  left: 49%;
  width: 40px;
  height: 40px;
  background: #ffa552;
}

@-webkit-keyframes liner-ball {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes liner-ball {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes liner-triangle {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes liner-triangle {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */