@import url("grid.css");
@font-face {
  font-family: 'Product Sans';
  src: url("../fonts/Product-Sans-Regular.ttf");
  font-weight: normal;
}

/****Grid layout settings****/
/*General for documetn settings*/
/*Color*/
/*Typography*/
/*h1*/
/*navbar*/
/*navigation icon*/
/*container*/
/*wrapper*/
/*section wrapper*/
/*container wrapper*/
/*btn up*/
.general_main {
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.general_title {
  font-weight: bold;
  text-transform: uppercase;
}

.general_title_h1 {
  line-height: 40px;
}

@media screen and (min-width: 640px) {
  .general_title_h1 {
    line-height: 65px;
  }
}

.general_title_h2 {
  line-height: 30px;
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .general_title_h2 {
    line-height: 50px;
  }
}

.general_text {
  text-align: justify;
  color: #ffffff;
  line-height: 28px;
}

body, html {
  overflow: hidden;
  cursor: none;
}

.container {
  height: 100%;
}

.global_section {
  height: 100vh;
  position: absolute;
  width: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.global_section.active {
  right: 0 !important;
}

.inner_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.page_about .section_banner {
  background: #003a5f;
}

.page_about .section_banner .general_title {
  color: #9cff00;
}

.page_about .section_teamdesc {
  background: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page_about .section_teamdesc .general_title {
  color: #ffffff;
}

.mous-arrow {
  position: absolute;
  top: -3.5vw;
  left: -3.5vw;
  display: none;
  z-index: 5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7vw;
  height: 7vw;
  background: rgba(107, 49, 151, 0.6);
  border-radius: 50%;
}

@media screen and (min-width: 1100px) {
  .mous-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mous-arrow.next.prev span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mous-arrow.bottom span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mous-arrow.previus span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mous-arrow.previus.rotate span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.mous-arrow span {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../img/arrow.png");
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mous-arrow i {
  position: absolute;
  color: #ffffff;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mous-arrow.hand {
  z-index: 9999;
  pointer-events: none;
}

.mous-arrow.hand.rotate span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.mous-arrow.hand span {
  width: 39px;
  height: 52px;
  background-image: url("../img/hand.png");
  background-color: transparent;
}
/*# sourceMappingURL=style.css.map */