@import url("grid.css");
@font-face {
  font-family: 'Product Sans';
  src: url("../fonts/Product-Sans-Regular.ttf");
  font-weight: normal;
}

/****Grid layout settings****/
/*General for documetn settings*/
/*Color*/
/*Typography*/
/*h1*/
/*navbar*/
/*navigation icon*/
/*container*/
/*wrapper*/
/*section wrapper*/
/*container wrapper*/
/*btn up*/
.general_main {
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: visible;
  -webkit-transition: 0.9s 0s;
  transition: 0.9s 0s;
  left: 0px;
}

@media screen and (min-width: 1100px) {
  .general_main {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
  }
}

.general_title {
  font-weight: bold;
  text-transform: uppercase;
}

.general_title_h1 {
  line-height: 40px;
}

@media screen and (min-width: 640px) {
  .general_title_h1 {
    line-height: 65px;
  }
}

.general_title_h2 {
  line-height: 30px;
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .general_title_h2 {
    line-height: 50px;
  }
}

.general_btn {
  padding: 9px 18px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #000000;
  position: relative;
  z-index: 10;
  cursor: none;
  display: inline-block;
}

.general_text {
  text-align: justify;
  color: #ffffff;
  line-height: 28px;
}

.page_header {
  position: static;
  width: 100%;
  z-index: 99;
  position: static;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  background: transparent;
  -webkit-transition: 1.2s 0s;
  transition: 1.2s 0s;
}

@media screen and (min-width: 1100px) {
  .page_header {
    position: fixed;
  }
}

.page_header div {
  background: transparent;
}

.page_header .nav-icon_box {
  cursor: none;
}

.page_header .header_logo {
  font-size: 24px;
  cursor: none;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.page_header .header_logo:after {
  content: "";
  display: block;
  width: 42px;
  height: 3px;
  position: absolute;
  left: 22px;
  bottom: -1px;
  background: #e33630;
}

.page_header .header_logo.fade {
  opacity: 0;
  z-index: -1;
}

body, html {
  overflow: visible;
  cursor: none;
}

@media screen and (min-width: 1100px) {
  body, html {
    overflow: hidden;
  }
}

.container {
  height: 100%;
}

.global_section {
  min-height: 100vh;
  height: 100%;
  position: static;
  width: 100vw;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media screen and (min-width: 1100px) {
  .global_section {
    position: absolute;
    height: 100vh;
  }
}

.inner_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1100px) {
  .inner_box {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page_about_header {
  background: #003a5f;
}

@media screen and (min-width: 1100px) {
  .page_about_header {
    background: transparent;
  }
}

.page_about_header .header_logo {
  color: #ffffff;
}

.page_about .section_banner {
  background: #003a5f;
}

.page_about .section_banner .general_title {
  color: #9cff00;
  font-size: 28px;
  line-height: 30px;
}

@media screen and (min-width: 640px) {
  .page_about .section_banner .general_title {
    font-size: 48px;
    line-height: 55px;
  }
}

.page_about .section_teamdesc {
  background: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page_about .section_teamdesc .general_text {
  font-size: 16px;
  line-height: 22px;
}

.page_about .section_teamdesc .general_btn {
  margin-top: 20px;
  margin-right: 22px;
  color: #003a5f;
  border-color: #9cff00;
  background: #9cff00;
  padding: 17px 63px;
}

.page_about .section_teamdesc .general_title {
  color: #ffffff;
}

.page_about .section_coreSquade {
  background: #003a5f;
}

.page_about .section_coreSquade .inner_box {
  display: block;
}

@media screen and (min-width: 1100px) {
  .page_about .section_coreSquade .inner_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page_about .section_coreSquade .general_text {
  font-size: 14px;
  line-height: 18px;
}

.page_about .section_coreSquade .general_title {
  color: #ffffff;
}

.page_about .section_coreSquade .box_item {
  min-height: 340px;
  margin-bottom: 20px;
}

.page_about .section_coreSquade_item {
  width: calc(100%/2 - 18px);
  margin-bottom: 26px;
  display: block;
}

@media screen and (min-width: 560px) {
  .page_about .section_coreSquade_item {
    width: calc(100%/3 - 18px);
  }
}

@media screen and (min-width: 1100px) {
  .page_about .section_coreSquade_item {
    width: calc(100%/6 - 26px);
  }
}

.page_about .section_coreSquade_item .item_pic {
  display: block;
  background: #ffffff;
  overflow: hidden;
}

.page_about .section_coreSquade_item .item_desc {
  background: #ffffff;
  padding: 17px;
  color: #003a5f;
}

.page_about .section_coreSquade_item .item_desc h4 {
  font-size: 16px;
  font-weight: bold;
}

.page_about .section_coreSquade_item .item_desc span {
  font-size: 16px;
}

.page_about .section_happyClients {
  background: #003a5f;
}

.page_about .section_happyClients .general_title {
  color: #ffffff;
}

.page_about .section_happyClients .general_text {
  font-size: 16px;
  line-height: 22px;
}

.page_about .section_indexMission {
  background: #003a5f;
}

.page_about .section_indexMission .box_wrap {
  width: 100%;
}

.page_about .section_indexMission .box_wrap .general_title {
  color: #ffffff;
  max-width: 100%;
  font-size: 30px;
  line-height: 36px;
  margin: auto 0px 40px;
}

@media screen and (min-width: 1100px) {
  .page_about .section_indexMission .box_wrap .general_title {
    max-width: 190px;
    margin: auto 40px auto 0px;
  }
}

.page_about .section_indexMission .box_wrap .item {
  background: #000000;
  padding: 15px;
  margin-bottom: 30px;
  max-width: 100%;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .page_about .section_indexMission .box_wrap .item {
    margin-bottom: 0;
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 1100px) {
  .page_about .section_indexMission .box_wrap .item {
    max-width: 392px;
    width: 100%;
  }
}

.page_about .section_indexMission .box_wrap .item_pic {
  overflow: hidden;
}

.page_about .section_indexMission .box_wrap .item_pic img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1100px) {
  .page_about .section_indexMission .box_wrap .item_pic img {
    height: 100%;
    width: auto;
  }
}

.page_about .section_indexMission .box_wrap .item_desc {
  color: #666666;
  font-size: 12px;
  display: block;
  padding: 10px 0px;
}

.page_about .section_indexMission .box_wrap .item.item_1 .item_pic {
  max-height: 100%;
}

@media screen and (min-width: 1100px) {
  .page_about .section_indexMission .box_wrap .item.item_1 .item_pic {
    max-height: 360px;
  }
}

.page_about .section_indexMission .box_wrap .item.item_2 .item_pic {
  max-height: 100%;
}

@media screen and (min-width: 1100px) {
  .page_about .section_indexMission .box_wrap .item.item_2 {
    margin-top: auto;
  }
  .page_about .section_indexMission .box_wrap .item.item_2 .item_pic {
    max-height: 200px;
  }
}

.page_about .section_indexExp {
  background: #003a5f;
}

.page_about .section_indexExp .box_wrap {
  width: 100%;
}

.page_about .section_indexExp .box_wrap .general_title {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  margin-top: auto;
  margin-bottom: 0;
}

.page_about .section_indexExp .box_wrap .item {
  background: #000000;
  padding: 15px;
}

.page_about .section_indexExp .box_wrap .item_pic {
  overflow: hidden;
}

.page_about .section_indexExp .box_wrap .item_pic img {
  height: 100%;
  width: auto;
}

.page_about .section_indexExp .box_wrap .item_desc {
  color: #666666;
  font-size: 12px;
  display: block;
  padding: 10px 0px;
}

.page_about .section_indexExp .box_wrap .item.item_1 {
  max-width: 100%;
  width: 100%;
  margin-bottom: 40px;
}

.page_about .section_indexExp .box_wrap .item.item_1 .item_pic {
  max-height: 360px;
}

@media screen and (min-width: 640px) {
  .page_about .section_indexExp .box_wrap .item.item_1 {
    margin-bottom: 0;
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 1100px) {
  .page_about .section_indexExp .box_wrap .item.item_1 {
    max-width: 520px;
    width: 100%;
  }
}

.page_about .section_indexExp .box_wrap .item.item_2 {
  max-width: 100%;
  margin-bottom: 20px;
}

.page_about .section_indexExp .box_wrap .item.item_2 .item_pic {
  max-height: 220px;
}

.page_about .section_indexExp .box_wrap .box_item {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 640px) {
  .page_about .section_indexExp .box_wrap .box_item {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 1100px) {
  .page_about .section_indexExp .box_wrap .box_item {
    max-width: 550px;
    width: 100%;
  }
}

.page_about .section_mentions {
  background: #003a5f;
}

.page_about .section_mentions .inner_box {
  display: block;
  height: 100%;
}

@media screen and (min-width: 1100px) {
  .page_about .section_mentions .inner_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page_about .section_mentions .general_title {
  color: #ffffff;
  line-height: 50px;
  margin-bottom: 20px;
}

.page_about .section_mentions .general_text {
  font-size: 14px;
  line-height: 18px;
}

.page_about .section_mentions .box_desc {
  max-width: 256px;
  margin: 0px 0px 40px;
}

@media screen and (min-width: 1100px) {
  .page_about .section_mentions .box_desc {
    margin: auto 0;
  }
}

.page_about .section_mentions .box_mentions {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 746px;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1100px) {
  .page_about .section_mentions .box_mentions {
    max-height: 365px;
  }
}

.page_about .section_mentions .box_mentions_item {
  width: 110px;
  height: 110px;
  margin: 0px 7px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
}

.page_about .section_indexAction {
  background: #003a5f;
}

.page_about .section_indexAction .general_title {
  color: #ffffff;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 20px;
  max-width: 625px;
}

.page_about .section_indexAction .general_text {
  font-size: 30px;
}

.page_about .section_indexAction .box_wrap {
  margin-top: 60px;
}

.page_about .section_indexAction .box_wrap a {
  width: 100%;
  max-width: 205px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #9cff00;
  color: #003a5f;
  padding: 50px 10px;
  font-weight: bold;
  position: relative;
  z-index: 10;
  cursor: none;
}

@media screen and (min-width: 780px) {
  .page_about .section_indexAction .box_wrap a {
    width: calc(100%/3 - 21px);
    max-width: 100%;
    margin-bottom: 0;
  }
}

.page_about .section_indexAction .box_wrap a img {
  margin-bottom: 10px;
  width: auto;
  height: auto;
}

.mous-arrow {
  position: absolute;
  top: -3.5vw;
  left: -3.5vw;
  display: none;
  z-index: 5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7vw;
  height: 7vw;
  background: rgba(107, 49, 151, 0.6);
  border-radius: 50%;
}

@media screen and (min-width: 1100px) {
  .mous-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mous-arrow.next.prev span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mous-arrow.bottom span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mous-arrow.previus span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mous-arrow.previus.rotate span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.mous-arrow span {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../img/arrow.png");
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mous-arrow i {
  position: absolute;
  color: #ffffff;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mous-arrow.hand {
  z-index: 9999;
  pointer-events: none;
}

.mous-arrow.hand.rotate span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.mous-arrow.hand span {
  width: 39px;
  height: 52px;
  background-image: url("../img/hand.png");
  background-color: transparent;
}
/*# sourceMappingURL=style.css.map */