.modal
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    display: none
    overflow-y: auto
    background: #f3f3f4
    
    &_form
        display: flex
        flex-direction: column
        padding: 60px 0px 0px
        height: 100%

    &_inner
        background: #ffffff
        max-width: 700px
        width: 100%
        min-width: 300px
        margin: auto auto 80px
        box-shadow: 0px 2px 6px 1px rgba(50, 50, 50, 0.1)

        .inner_wrap
            padding: 20px
            h1,h2,h3,h4,h5,h6
                margin-bottom: 20px
                text-transform: capitalize
            &.dropdown_form-box
                border-top: 1px solid #cdcdcd
                display: none
    &_footer
        background: #ffffff
        width: 100%
        padding: 10px 15px
        box-shadow: 0px -2px 8px 1px rgba(50, 50, 50, 0.1)
        margin-top: auto
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
        @media screen and (min-width: #{$dw-480})
            padding: 10px 30px
        @media screen and (min-width: #{$dw-640})
            flex-wrap: nowrap
        .back
            background: $none
            box-shadow: 0px 0px 0px 1px #2da4dc
            color: #2da4dc
            font-weight: bold
        .next
            background: #2da4dc
            color: #ffffff
            font-weight: bold
        .progerss
            display: flex
            align-items: center
            max-width: none
            width: 100%
            order: -1
            margin-bottom: 20px
            @media screen and (min-width: #{$dw-640})
                margin-bottom: 0
                order: 0
                max-width: 600px
            span
                position: relative
                display: flex
                flex-direction: column
                justify-content: center
                max-width: 130px
                width: 100%
                text-align: center
                margin: auto
                &.active
                    &:before, &:after
                        background-color: #2da4dc
                    
                &:last-child
                    &:after
                        display: none
                &:before
                    content: ''
                    display: block
                    width: 20px
                    height: 20px
                    border-radius: 50%
                    border: 2px solid #e1e1e1
                    background-color: #d9d9d9
                    background-repeat: no-repeat
                    margin: auto auto 6px
                &:after
                    content: ''
                    display: block
                    width: 100%
                    position: absolute
                    height: 2px
                    background: #d9d9d9
                    top: 11px
                    left: calc(50% + 10px)
        
    &.new_build
        .input_box
            display: flex
            align-items: center
            justify-content: space-between
            flex-wrap: wrap
            margin-bottom: 20px
            &[data-name="condo_url"]
                input[type="file"]
                    display: none
                div
                    position: relative
                    flex-grow: 1
                    margin-left: 0
                    width: 100%
                    @media screen and (min-width: #{$dw-560})
                        width: auto
                        margin-left: 16px
                    input
                        width: 100%
                        margin-left: 0
                        padding-right: 80px
                label
                    position: absolute
                    right: 0
                    bottom: 0
                    border: 1px solid #cdcdcd
                    cursor: pointer
                    text-transform: capitalize
                    height: 100%
                    max-height: 33px 
                    display: flex
                    align-items: center
                    justify-content: center
                    color: #2da4dc
                    padding: 0px 14px
                    @media screen and (min-width: #{$dw-560})
                        max-height: 100%

            &[data-name="phone"], &[data-name="date"]
                input
                    max-width: 100%
                    margin-right: auto
                    @media screen and (min-width: #{$dw-560})
                        max-width: 40%
            &[data-name="type"]
                div
                    flex-grow: 1
                    width: 100%
                    margin-left: 0px
                    margin-top: 16px
                    @media screen and (min-width: #{$dw-560})
                        width: auto
                        margin-left: 16px
                        margin-top: 0px
                    input
                        &:checked + label:before
                            background: #dddddd
                    label
                        display: flex
                        text-transform: capitalize
                        align-items: center
                        cursor: pointer
                        &:before
                            content: ''
                            display: block
                            width: 20px
                            height: 20px
                            border: 1px solid #cdcdcd
                            border-radius: 2px
                            margin-right: 10px

            span
                min-width: 120px
                text-transform: capitalize
            input
                border: 1px solid #cdcdcd
                display: block
                flex-grow: 1
                width: 100%
                margin-left: 0
                margin-top: 16px
                padding: 9px 12px
                color: #979797
                &[type="checkbox"]
                    display: none
                @media screen and (min-width: #{$dw-560})
                    width: auto
                    margin-left: 16px
                    margin-top: 0
        .form_btn
            margin-top: 10px
            span
                text-transform: capitalize
                color: #2da4dc
                background: $none
                margin-left: auto
                cursor: pointer
                display: flex
                align-items: center
                &:before
                    content: ''
                    width: 20px
                    height: 20px
                    background-repeat: no-repeat
                    background-position: center center
                    margin-right: 14px
