@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
/****Grid layout settings****/
/*General for documetn settings*/
/*Color*/
/*Typography*/
/*h1*/
/*navbar*/
/*navigation icon*/
/*container*/
/*wrapper*/
/*section wrapper*/
/*container wrapper*/
/*btn up*/
@import url("grid.css");
.general_title_h3 {
  font-size: 16px;
  color: #656565;
  font-weight: bold;
  text-transform: capitalize;
}

@media screen and (min-width: 640px) {
  .general_title_h3 {
    font-size: 18px;
  }
}

.general_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 14px 35px;
  border-radius: 6px;
}

.general_search_form {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 480px) {
  .general_search_form {
    width: 40%;
  }
}

.general_search_form input {
  display: block;
  width: 100%;
  border: 1px solid #979797;
  padding: 8px 12px;
}

.general_search_form button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  right: 0;
  background: transparent;
}

.general_filter {
  border: 1px solid #979797;
  padding: 8px 12px;
  width: 200px;
  position: relative;
}

.general_filter span {
  display: block;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.general_filter span:after {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  border-right: 1px solid #979797;
  border-bottom: 1px solid #979797;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 3px;
  right: 0;
}

.general_filter ul {
  display: none;
  padding: 8px 12px;
  line-height: 24px;
  background: #ffffff;
  position: absolute;
  width: calc(100% + 2px);
  z-index: 99;
  left: -1px;
  border: 1px solid #979797;
  border-top: none;
}

.general_filter ul li {
  cursor: pointer;
  list-style: none;
}

.general_filter.show ul {
  display: block;
}

.general_filter.show span:after {
  top: 4px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.general_dashboard {
  width: 100%;
  min-width: 1000px;
  border-spacing: 0px;
}

.general_dashboard thead td {
  font-weight: bold;
  color: #7d7d7d;
}

.general_dashboard td {
  padding: 8px 12px;
}

.general_dashboard td:first-child {
  border: none;
}

.general_dashboard td:nth-child(2) {
  width: 15vw;
  min-width: 130px;
}

.general_dashboard tbody td {
  font-size: 12px;
}

.general_dashboard tbody tr:nth-child(2n+1) {
  background: #f9f9f9;
}

.general_dashboard tbody tr:nth-child(2n+1) td {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.general_dashboard tbody tr:nth-child(2n+1) td:first-child {
  border-left: 1px solid #efefef;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.general_dashboard tbody tr:nth-child(2n+1) td:last-child {
  border-right: 1px solid #efefef;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.general_checkbox {
  width: 20px;
}

.general_checkbox span {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #cccdcf;
  border-radius: 4px;
  cursor: pointer;
  background: #ffffff;
  position: relative;
}

.general_checkbox span:after {
  content: '';
  display: none;
  position: absolute;
  top: -2%;
  left: 35%;
  height: 80%;
  width: 30%;
  border-right: 1px solid #2da4dc;
  border-bottom: 1px solid #2da4dc;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.general_checkbox.checked span {
  border: 1px solid #2da4dc;
}

.general_checkbox.checked span:after {
  display: block;
}

.close_modal {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  color: #979797;
  font-weight: bold;
  font-size: 10px;
  background: transparent;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.close_modal:after, .close_modal:before {
  content: '';
  display: block;
  width: 70%;
  height: 2px;
  background: #5f5f60;
  border-radius: 10px;
  position: absolute;
  top: 7px;
  left: 50%;
}

.close_modal:after {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.close_modal:before {
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.check-mark {
  position: relative;
  display: block;
}

.check-mark:after {
  content: '';
  display: block;
  position: absolute;
  top: -2%;
  left: 35%;
  height: 80%;
  width: 30%;
  border-right: 1px solid #2da4dc;
  border-bottom: 1px solid #2da4dc;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

body, html {
  background: #f3f3f4;
}

body .container, html .container {
  background: #ffffff;
}

.main {
  padding: 50px 0px;
}

.main_header {
  margin-bottom: 10px;
}

.main_header .general_search_form {
  margin-right: 0px;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .main_header .general_search_form {
    margin-right: 16px;
  }
}

.main_header .general_search_form input {
  padding: 8px 46px 8px 12px;
}

.main_header .general_search_form button {
  font-size: 20px;
  right: 16px;
}

.main_header .general_filter {
  margin-right: auto;
}

.main_header .create_new_building {
  cursor: pointer;
  border-radius: 50%;
  background: #2da4dc;
  font-size: 24px;
  font-weight: bold;
  width: 33px;
  height: 33px;
  padding: 2px 10px 4px;
  color: #ffffff;
}

.main_inner {
  overflow-x: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  overflow-y: auto;
  background: #f3f3f4;
}

.modal_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0px 0px;
  height: 100%;
}

.modal_inner {
  max-width: 700px;
  width: 100%;
  min-width: 300px;
  margin: auto auto 80px;
}

.modal_inner .global_wrap {
  display: none;
}

.modal_inner .global_wrap.active {
  display: block;
}

.modal_inner .inner_wrapper {
  display: block;
  -webkit-box-shadow: 0px 2px 6px 1px rgba(50, 50, 50, 0.1);
          box-shadow: 0px 2px 6px 1px rgba(50, 50, 50, 0.1);
  background: #ffffff;
}

.modal_inner .inner_wrapper.clone {
  margin-top: 40px;
}

.modal_inner .inner_wrapper.clone .form_btn .remove_display {
  display: block;
}

.modal_inner .inner_wrapper.clone .form_btn .add_display {
  display: none;
}

.modal_inner .inner_wrap, .modal_inner .dropdown_form-box, .modal_inner .dropdown_new-user {
  display: block;
  padding: 20px;
}

.modal_inner .inner_wrap h1, .modal_inner .inner_wrap h2, .modal_inner .inner_wrap h3, .modal_inner .inner_wrap h4, .modal_inner .inner_wrap h5, .modal_inner .inner_wrap h6, .modal_inner .dropdown_form-box h1, .modal_inner .dropdown_form-box h2, .modal_inner .dropdown_form-box h3, .modal_inner .dropdown_form-box h4, .modal_inner .dropdown_form-box h5, .modal_inner .dropdown_form-box h6, .modal_inner .dropdown_new-user h1, .modal_inner .dropdown_new-user h2, .modal_inner .dropdown_new-user h3, .modal_inner .dropdown_new-user h4, .modal_inner .dropdown_new-user h5, .modal_inner .dropdown_new-user h6 {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.modal_inner .inner_wrap.assing_users, .modal_inner .dropdown_form-box.assing_users, .modal_inner .dropdown_new-user.assing_users {
  padding: 0;
}

.modal_inner .dropdown_form-box, .modal_inner .dropdown_new-user {
  border-top: 1px solid #cdcdcd;
  display: none;
}

.modal_inner .dropdown_new-user.show {
  display: block;
}

.modal_footer {
  background: #ffffff;
  width: 100%;
  padding: 10px 15px;
  -webkit-box-shadow: 0px -2px 8px 1px rgba(50, 50, 50, 0.1);
          box-shadow: 0px -2px 8px 1px rgba(50, 50, 50, 0.1);
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .modal_footer {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 640px) {
  .modal_footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.modal_footer .back {
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px 1px #2da4dc;
          box-shadow: 0px 0px 0px 1px #2da4dc;
  color: #2da4dc;
  font-weight: bold;
}

.modal_footer .back.disable {
  opacity: 0;
  pointer-events: none;
}

.modal_footer .next {
  background: #2da4dc;
  color: #ffffff;
  font-weight: bold;
}

.modal_footer .publish {
  background: #1ab945;
  display: none;
  color: #ffffff;
  font-weight: bold;
  width: 173px;
}

.modal_footer .progerss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: none;
  width: 100%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .modal_footer .progerss {
    margin-bottom: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    max-width: 600px;
  }
}

.modal_footer .progerss span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 130px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin: auto;
}

.modal_footer .progerss span.active:before, .modal_footer .progerss span.active:after {
  background-color: #2da4dc;
}

.modal_footer .progerss span:last-child:after {
  display: none;
}

.modal_footer .progerss span:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #e1e1e1;
  background-color: #d9d9d9;
  background-repeat: no-repeat;
  margin: auto auto 6px;
}

.modal_footer .progerss span:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  height: 2px;
  background: #d9d9d9;
  top: 11px;
  left: calc(50% + 10px);
}

.modal.new_build .input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  position: relative;
}

.modal.new_build .input_box[data-name="condo_url"] input[type="file"] {
  display: none;
}

.modal.new_build .input_box[data-name="condo_url"] div {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 0;
  width: 100%;
}

@media screen and (min-width: 560px) {
  .modal.new_build .input_box[data-name="condo_url"] div {
    width: auto;
    margin-left: 16px;
  }
}

.modal.new_build .input_box[data-name="condo_url"] div input {
  width: 100%;
  margin-left: 0;
  padding-right: 80px;
}

.modal.new_build .input_box[data-name="condo_url"] label {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  border: 1px solid #cdcdcd;
  cursor: pointer;
  text-transform: capitalize;
  height: 100%;
  max-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2da4dc;
  padding: 0px 14px;
}

@media screen and (min-width: 560px) {
  .modal.new_build .input_box[data-name="condo_url"] label {
    max-height: 100%;
  }
}

.modal.new_build .input_box[data-name="phone"] input, .modal.new_build .input_box[data-name="date"] input, .modal.new_build .input_box[data-name="login_user"] input, .modal.new_build .input_box[data-name="password_user"] input, .modal.new_build .input_box[data-name="repeat_password_user"] input {
  max-width: 100%;
  margin-right: auto;
}

@media screen and (min-width: 560px) {
  .modal.new_build .input_box[data-name="phone"] input, .modal.new_build .input_box[data-name="date"] input, .modal.new_build .input_box[data-name="login_user"] input, .modal.new_build .input_box[data-name="password_user"] input, .modal.new_build .input_box[data-name="repeat_password_user"] input {
    max-width: 40%;
  }
}

.modal.new_build .input_box[data-name="type"] div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin-left: 0px;
  margin-top: 16px;
}

@media screen and (min-width: 560px) {
  .modal.new_build .input_box[data-name="type"] div {
    width: auto;
    margin-left: 16px;
    margin-top: 0px;
  }
}

.modal.new_build .input_box[data-name="type"] div input:checked + label:before {
  border: 1px solid #2da4dc;
}

.modal.new_build .input_box[data-name="type"] div input:checked + label:after {
  display: block;
}

.modal.new_build .input_box[data-name="type"] div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 12px;
  margin: 0px 6px 16px;
}

@media screen and (min-width: 560px) {
  .modal.new_build .input_box[data-name="type"] div label {
    margin-bottom: 0px;
  }
}

.modal.new_build .input_box[data-name="type"] div label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  margin-right: 10px;
}

.modal.new_build .input_box[data-name="type"] div label:after {
  display: none;
  height: 16px;
  width: 6px;
  left: 8px;
}

.modal.new_build .input_box[data-name="building_elevator"] div {
  margin-top: 16px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .modal.new_build .input_box[data-name="building_elevator"] div {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 16px;
    width: auto;
    margin-top: 0px;
  }
}

.modal.new_build .input_box[data-name="building_elevator"] div input {
  display: none;
}

.modal.new_build .input_box[data-name="building_elevator"] div input:checked + label:after {
  display: block;
}

.modal.new_build .input_box[data-name="building_elevator"] div input:checked + label:before {
  border: 1px solid #2da4dc;
}

.modal.new_build .input_box[data-name="building_elevator"] div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 80px;
  cursor: pointer;
  text-transform: capitalize;
}

.modal.new_build .input_box[data-name="building_elevator"] div label:after {
  content: '';
  display: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #2da4dc;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 4px;
}

.modal.new_build .input_box[data-name="building_elevator"] div label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  margin-right: 10px;
}

.modal.new_build .input_box[data-name="select_user"] {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal.new_build .input_box[data-name="select_user"] > span {
  margin-top: 8px;
}

.modal.new_build .input_box[data-name="select_user"] .general_filter {
  border: 1px solid #cdcdcd;
  max-width: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: 0px;
  margin-top: 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 560px) {
  .modal.new_build .input_box[data-name="select_user"] .general_filter {
    margin-left: 16px;
    margin-top: 0;
    max-width: 40%;
  }
}

.modal.new_build .input_box[data-name="select_user"] .general_filter span:after {
  top: 0px;
}

.modal.new_build .input_box[data-name="select_user"] ul {
  padding-bottom: 0px;
  border-color: #cdcdcd;
}

.modal.new_build .input_box[data-name="select_user"] ul li {
  font-size: 12px;
}

.modal.new_build .input_box[data-name="select_user"] ul li:last-child {
  border-top: 1px solid #cdcdcd;
  text-align: center;
  color: #2da4dc;
  font-weight: bold;
}

.modal.new_build .input_box[data-name="active_user"] input:checked + label {
  background: #2da4dc;
}

.modal.new_build .input_box[data-name="active_user"] input:checked + label:before {
  left: 50%;
  -webkit-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
}

.modal.new_build .input_box[data-name="active_user"] label {
  margin: 0px auto 0px 16px;
  width: 40px;
  height: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 30px;
  background: #9a9ca0;
  position: relative;
  cursor: pointer;
}

.modal.new_build .input_box[data-name="active_user"] label:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal.new_build .input_box span {
  min-width: 120px;
  font-size: 12px;
  text-transform: capitalize;
}

.modal.new_build .input_box input, .modal.new_build .input_box select {
  border: 1px solid #cdcdcd;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin-left: 0;
  margin-top: 16px;
  padding: 9px 12px;
  color: #979797;
}

.modal.new_build .input_box input[type="checkbox"], .modal.new_build .input_box select[type="checkbox"] {
  display: none;
}

@media screen and (min-width: 560px) {
  .modal.new_build .input_box input, .modal.new_build .input_box select {
    width: auto;
    margin-left: 16px;
    margin-top: 0;
  }
}

.modal.new_build .input_box select {
  max-width: 100%;
  cursor: pointer;
  margin-right: auto;
}

@media screen and (min-width: 560px) {
  .modal.new_build .input_box select {
    max-width: 40%;
  }
}

.modal.new_build .building_image .inner_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal.new_build .building_image .inner_wrapper .inner_wrap {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 640px) {
  .modal.new_build .building_image .inner_wrapper .inner_wrap {
    width: 50%;
  }
}

.modal.new_build .building_image .inner_wrapper .inner_wrap:nth-child(1) .input_box {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal.new_build .building_image .inner_wrapper .inner_wrap:nth-child(1) .input_box > div {
  position: relative;
  max-width: 140px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 480px) {
  .modal.new_build .building_image .inner_wrapper .inner_wrap:nth-child(1) .input_box > div {
    max-width: 240px;
  }
}

@media screen and (min-width: 640px) {
  .modal.new_build .building_image .inner_wrapper .inner_wrap:nth-child(1) .input_box > div {
    max-width: 140px;
  }
}

.modal.new_build .building_image .inner_wrapper .inner_wrap:nth-child(1) .input_box > div span {
  position: absolute;
  top: 50%;
  left: 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
}

.modal.new_build .building_image .inner_wrapper .inner_wrap:nth-child(1) .input_box > div input {
  width: 100%;
  margin-left: 0;
  padding-left: 20px;
  margin-top: 0;
}

.modal.new_build .building_image .inner_wrapper .inner_wrap:nth-child(2) {
  border-top: 1px solid #cdcdcd;
}

@media screen and (min-width: 640px) {
  .modal.new_build .building_image .inner_wrapper .inner_wrap:nth-child(2) {
    border-top: 0;
    border-left: 1px solid #cdcdcd;
  }
}

.modal.new_build .building_image .inner_wrapper .inner_wrap:nth-child(2) .upload_pic {
  width: 100%;
  max-height: 280px;
  height: 100vh;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
}

.modal.new_build .building_image .inner_wrapper .inner_wrap:nth-child(2) input {
  display: none;
}

.modal.new_build .building_image .inner_wrapper .inner_wrap:nth-child(2) label {
  cursor: pointer;
  margin: auto;
  display: block;
  width: 146px;
  border: 1px solid #2da4dc;
  color: #2da4dc;
  border-radius: 8px;
  text-align: center;
  padding: 10px 20px;
}

.modal.new_build .finish_preview {
  height: 70vh;
}

.modal.new_build .finish_preview .inner_wrapper {
  height: 100%;
}

.modal.new_build .finish_preview .inner_wrapper .inner_wrap {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal.new_build .form_btn {
  margin-top: 10px;
}

.modal.new_build .form_btn span {
  text-transform: capitalize;
  color: #2da4dc;
  background: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .modal.new_build .form_btn span {
    margin-left: 10px;
    width: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.modal.new_build .form_btn span:first-child {
  margin-left: auto;
}

.modal.new_build .form_btn span:before {
  content: '';
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 14px;
}

.modal.new_build .form_btn span.remove_display {
  display: none;
  color: #fa7486;
}
/*# sourceMappingURL=style.css.map */