.general-title
    color: #000
    text-transform: uppercase

.general-paragraph
    text-align: justify
    line-height: 25px

.general-btn
    cursor: none
    padding: 14px 20px
    display: inline-block
    position: relative
    z-index: 1
    font-size: 16px
    color: #503f7b
    background: #f3cc65
    border: 1px solid #f3cc65
    transition: 0.2s
    font-family: 'Poppins Bold'!important
    &:hover
        background: transparent!important
        color: #f3cc65
