.general
    //main
    &_main
        min-height: 100vh
        max-height: 100vh
        position: relative
        overflow: visible
        transition: 0.9s 0s
        left: 0px
        @media screen and (min-width: #{$dw-1100})
            min-height: 100vh
            max-height: 100vh
            overflow: hidden
    //title
    &_title
        font-weight: bold    
        text-transform: uppercase
        &_h1
            line-height: 40px
            @media screen and (min-width: #{$dw-640})
                line-height: 65px
        &_h2
            line-height: 30px
            margin-bottom: 20px
            @media screen and (min-width: #{$dw-640})
                line-height: 50px
    //button
    &_btn
        padding: 9px 18px
        font-size: 14px
        font-weight: bold
        border: 1px solid #000000
        position: relative
        z-index: 10
        cursor: none
        display: inline-block
    //text
    &_text
        text-align: justify
        color: #ffffff
        line-height: 28px