body, html
    overflow: visible
    cursor: none
    @media screen and (min-width: #{$dw-1100})
        overflow: hidden
.container
    height: 100%

.global_section
    min-height: 100vh
    height: 100%
    position: static
    width: 100vw
    transition: 0.7s
    @media screen and (min-width: #{$dw-1100})
        position: absolute
        height: 100vh
.inner_box
    display: flex
    min-height: 100vh
    flex-wrap: wrap
    flex-direction: column
    justify-content: center
    @media screen and (min-width: #{$dw-1100})
        height: 100%
        display: flex
        


.page

    //about page styles
    &_about
        &_header
            background: $thr-color
            @media screen and (min-width: #{$dw-1100})
                background: $none
            .header_logo
                color: #ffffff
        .section
            //banner section styles
            &_banner
                background: $thr-color
                .general_title
                    color: #9cff00
                    font-size: 28px
                    line-height: 30px
                    @media screen and (min-width: #{$dw-640})
                        font-size: 48px
                        line-height: 55px
            
            //team description section styles
            &_teamdesc
                background: url('../img/bg.jpg')
                background-size: cover
                background-repeat: no-repeat

                .general_text
                    font-size: 16px
                    line-height: 22px

                .general_btn
                    margin-top: 20px
                    margin-right: 22px
                    color: $thr-color
                    border-color: #9cff00
                    background: #9cff00
                    padding: 17px 63px

                .general_title
                    color: #ffffff
            
            //core Squade section styles
            &_coreSquade
                background: $thr-color
                .inner_box
                    display: block
                    @media screen and (min-width: #{$dw-1100})
                        display: flex
                .general_text
                    font-size: 14px
                    line-height: 18px

                .general_title
                    color: #ffffff

                .box_item
                    min-height: 340px
                    margin-bottom: 20px
                &_item
                    width: calc(100%/2 - 18px)
                    margin-bottom: 26px
                    display: block
                    @media screen and (min-width: #{$dw-560})
                        width: calc(100%/3 - 18px)
                    @media screen and (min-width: #{$dw-1100})
                        width: calc(100%/6 - 26px)

                    .item
                        &_pic
                            display: block
                            background: #ffffff
                            overflow: hidden

                        &_desc
                            background: #ffffff
                            padding: 17px
                            color: $thr-color
                            h4
                                font-size: 16px
                                font-weight: bold
                            span
                                font-size: 16px
            
            //happy Clients section styles
            &_happyClients
                background: $thr-color
                .general_title
                    color: #ffffff
                
                .general_text
                    font-size: 16px
                    line-height: 22px

            //index Mission section styles
            &_indexMission
                background: $thr-color
                .box_wrap
                    width: 100%
                    .general_title
                        color: #ffffff
                        max-width: 100%
                        font-size: 30px
                        line-height: 36px
                        margin: auto 0px 40px
                        @media screen and (min-width: #{$dw-1100})
                            max-width: 190px
                            margin: auto 40px auto 0px

                    .item
                        background: #000000
                        padding: 15px
                        margin-bottom: 30px
                        max-width: 100%
                        width: 100%
                        @media screen and (min-width: #{$dw-640})
                            margin-bottom: 0
                            width: calc(50% - 20px)
                        @media screen and (min-width: #{$dw-1100})
                            max-width: 392px
                            width: 100%

                        &_pic
                            overflow: hidden
                            img
                                width: 100%
                                height: auto
                                @media screen and (min-width: #{$dw-1100})
                                    height: 100%
                                    width: auto
                        &_desc
                            color: #666666
                            font-size: 12px
                            display: block
                            padding: 10px 0px

                        &.item_1
                            .item_pic
                                max-height: 100%
                            @media screen and (min-width: #{$dw-1100})
                                .item_pic
                                    max-height: 360px
                        
                        &.item_2
                            .item_pic
                                max-height: 100% 
                            @media screen and (min-width: #{$dw-1100})
                                margin-top: auto
                                .item_pic
                                    max-height: 200px
                            

            //index Exp section styles
            &_indexExp
                background: $thr-color
                .box_wrap
                    width: 100%
                    .general_title
                        color: #ffffff
                        font-size: 24px
                        line-height: 30px
                        margin-top: auto
                        margin-bottom: 0

                    .item
                        background: #000000
                        padding: 15px
                        &_pic
                            overflow: hidden
                            img
                                height: 100%
                                width: auto
                        &_desc
                            color: #666666
                            font-size: 12px
                            display: block
                            padding: 10px 0px

                        &.item_1
                            max-width: 100%
                            width: 100%
                            margin-bottom: 40px
                            .item_pic
                                max-height: 360px
                            @media screen and (min-width: #{$dw-640})
                                margin-bottom: 0
                                width: calc(50% - 20px)
                            @media screen and (min-width: #{$dw-1100})
                                max-width: 520px
                                width: 100%
                                 
                        &.item_2
                            max-width: 100%
                            margin-bottom: 20px
                            .item_pic
                                max-height: 220px
                    .box_item
                        max-width: 100%
                        width: 100%
                        display: flex
                        flex-direction: column
                        @media screen and (min-width: #{$dw-640})
                            width: calc(50% - 20px)
                        @media screen and (min-width: #{$dw-1100})
                            max-width: 550px
                            width: 100%

            //mentions section styles
            &_mentions
                background: $thr-color
                .inner_box
                    display: block
                    height: 100%
                    @media screen and (min-width: #{$dw-1100})
                        display: flex
                .general_title
                    color: #ffffff
                    line-height: 50px
                    margin-bottom: 20px
                .general_text
                    font-size: 14px
                    line-height: 18px
                .box
                    &_desc
                        max-width: 256px
                        margin: 0px 0px 40px
                        @media screen and (min-width: #{$dw-1100})
                            margin: auto 0
                    &_mentions
                        flex-grow: 1
                        max-width: 746px
                        max-height: 100%
                        display: flex
                        flex-wrap: wrap
                        justify-content: center
                        @media screen and (min-width: #{$dw-1100})
                            max-height: 365px
                        &_item
                            width: 110px
                            height: 110px
                            margin: 0px 7px 17px
                            display: flex
                            align-items: center
                            justify-content: center
                            background: #ffffff
            
            //index Action section styles
            &_indexAction
                background: $thr-color
                .general_title
                    color: #ffffff
                    font-size: 36px
                    line-height: 45px
                    margin-bottom: 20px
                    max-width: 625px

                .general_text
                    font-size: 30px

                .box_wrap
                    margin-top: 60px
                    a
                        width: 100%
                        max-width: 205px
                        margin-bottom: 30px
                        display: flex
                        align-items: center
                        justify-content: center
                        flex-direction: column
                        background: #9cff00
                        color: $thr-color
                        padding: 50px 10px
                        font-weight: bold
                        position: relative
                        z-index: 10
                        cursor: none
                        @media screen and (min-width: #{$dw-780})
                            width: calc(100%/3 - 21px)
                            max-width: 100%
                            margin-bottom: 0
                        img
                            margin-bottom: 10px
                            width: auto
                            height: auto