body
    position: relative
    overflow: auto
    cursor: none
    @media screen and (min-width: #{$dw-1100})
        overflow: hidden

.wrapper
    position: relative
    transition: 0.5s 0s

.page
    &-wrap
        position: relative
        width: 100%
        overflow: auto
        @media screen and (min-width: #{$dw-1100})
            overflow: hidden
    &_header
        position: static
        left: 0
        top: 0
        z-index: 1000
        width: 100vw
        background: transparent
        transition: 1.2s 0s
        @media screen and (min-width: #{$dw-1100})
            position: absolute
        div
           background: transparent 
        .nav-icon_box
            cursor: none
        .header_logo
            font-size: 24px
            cursor: none
            position: relative
            transition: 0s
            &:after
                content: ""
                display: block
                width: 42px
                height: 3px
                position: absolute
                left: 22px
                bottom: -1px
                background: $sec-color
            &.white
                color: #ffffff
                &:after 
                    background: #ffffff

.main
    &_scroll
        display: flex
        flex-wrap: wrap
        position: relative
        top: 0
        left: 0
        overflow-y: auto
        overflow-x: hidden
        transition: 1.2s 0s
        @media screen and (min-width: #{$dw-1100})
            flex-wrap: nowrap
            
    &_box
        min-width: 100vw
        padding-top: 0px
        min-height: 100vh
        position: relative
        @media screen and (min-width: #{$dw-1100})
            padding-top: 80px
        .container
            height: 100%
            position: relative

.section
    &_home
        .inner_nav
            display: flex
            align-items: center
            margin-bottom: 30px
            li
                display: flex
                font-family: 'Poppins Regular'
                &:after
                    content: '/'
                    color: #ffffff
                    display: block
                    margin: 0px 10px
                &:last-child
                    &:after
                        display: none
                    a
                        position: static!important
                        z-index: 0
                a
                    color: #ffffff
                    position: relative
                    font-size: 16px
                    z-index: 1
                    cursor: none
                
        &_subtitle
            color: $sec-color
            font-size: 36px
        &_inner
            margin-top: 28px
            width: 100%
            a
                display: flex
                align-items: center
                margin-top: 12px
                margin-right: 12px
                position: relative
                z-index: 1
                cursor: none
                &:hover
                    img
                        transform: scale(1.2)
                    span
                        &:after
                            left: 0
            img
                width: auto
                max-height: 24px
                display: block
                margin-right: 12px
                transition: .2s ease
            span
                display: block
                overflow: hidden
                position: relative
                &:after
                    content: ""
                    display: block
                    height: 1px
                    width: 100%
                    position: absolute
                    bottom: 0
                    left: -100%
                    background: $f-color
                    transition: .2s ease

    &_about
        background: #f6f4e8
        .general-title
            line-height: 40px
            position: relative
            transition: 0.8s 0.5s
            @media screen and (min-width: #{$dw-640})
                line-height: 75px
        p
            display: block
            margin: 40px 0px 0px
            color: $sec-color
            max-width: 632px

        img
            max-height: 76px
            width: auto
            height: 100%
            margin-top: 40px
            margin-right: 60px
            &:last-child
                margin-right: 0px
    

    &_content
        min-height: 100vh
        width: 100%
        background: #223045
        color: #fff
        position: relative
        @media screen and (min-width: #{$dw-1100})
            padding: 0px 0px 0px 0px
        img
            width: 100%
            height: auto
            max-width: 400px
            max-height: 400px
            margin: auto
            display: block
            @media screen and (min-width: #{$dw-1100})
                max-width: none
                max-height: none
                display: inline
                margin: 0
                width: auto

        .general-title
            color: #fff
            font-size: 30px
            position: relative
            @media screen and (min-width: #{$dw-640})
                font-size: 50px
        &_clients
            .inner-box
                display: flex
                align-items: center
                .picture
                    width: 100%
                    overflow: hidden
                    margin-top: 60px
                    @media screen and (min-width: #{$dw-1100})
                        height: 400px
                        margin-top: 0
        &_projects
            .general-title
                margin: 40px 0px
                @media screen and (min-width: #{$dw-1100})
                    margin: 0
            .inner-box
                .picture
                    width: 100%
                    overflow: hidden
                    @media screen and (min-width: #{$dw-1100})
                        height: 500px
            .inner-content
                margin-top: auto
                .picture
                    margin-top: 20px
                    @media screen and (min-width: #{$dw-1100})
                        max-width: 370px
                        max-height: 220px   

        &_about-studio
            .inner-box
                .picture
                    width: 100%
                    overflow: hidden
                    margin-bottom: 40px
                    @media screen and (min-width: #{$dw-1100})
                        height: 500px
                        margin-bottom: 0
            .inner-content
                margin-top: auto

        &_portfolio
            .picture
                overflow: hidden
                margin-bottom: 60px
                transition: 0.8s 0.5s
                @media screen and (min-width: #{$dw-1100})
                        height: 500px
                        margin-bottom: 0

    &_why-us
        background: $sec-color
        .container 
            max-width: 1100px
        &_content
            margin-top: auto
            color: #fff
            display: flex
            flex-wrap: wrap
            justify-content: center
            @media screen and (min-width: #{$dw-1100})
                justify-content: space-between
        &_logo
            width: 100%
            margin-bottom: 40px         
            @media screen and (min-width: #{$dw-1100})
                margin-bottom: 0
                width: calc(50% - 50px)
            img
                min-width: 270px
                width: 50vw
                margin: auto
                display: block
                @media screen and (min-width: #{$dw-1100})
                    width: 100%
        span
            margin-top: auto
            a
                color: #fff
                position: relative
                overflow: hidden
                display: inline-flex
                &:after
                    content: ""
                    display: block
                    width: 100%
                    height: 2px
                    background: #fff
                    position: absolute
                    left: -100%
                    bottom: 0
                    transition: .2s
                &:hover
                    &:after
                        left: 0
        &_text
            width: 100%
            @media screen and (min-width: #{$dw-1100})
                width: calc(50% - 50px)
            li
                margin-top: 22px
            span
                margin-top: 40px
                display: block
                color: initial
                a
                    color: initial
                    &:after
                        background: #000



.page-wrap.contact-page
    .nav-icon
        .nav-icon_box
            .nav-icon_line
                background: #fff
    .header_logo
        color: #fff
        &:after
            background: #fff
    .page_header
        background: #41316b
        @media screen and (min-width: #{$dw-1100})
            background: transparent

.main_scroll.contact-page
    background: #41316b
    
    form
        width: 100%
        margin-bottom: auto
        input, textarea, button
            display: block
            position: relative
            z-index: 1
            width: 100%
            padding: 14px 20px
            margin-bottom: 30px
            color: #999999
            font-weight: normal
            font-family: 'Poppins Regular'!important
            font-size: 16px
        input
            background: #503f7b
        textarea
            background: #503f7b
            height: 25vh
            min-height: 120px
            max-height: 165px
        input::-webkit-input-placeholder, 
        input::-moz-placeholder,
        input::-moz-placeholder,
        input::-ms-input-placeholder
        input::placeholder 
	        color: #999999
            font-family: 'Poppins Regular'
            font-weight: normal

        textarea::-webkit-input-placeholder, 
        textarea::-moz-placeholder,
        textarea:-moz-placeholder,
        textarea:-ms-input-placeholder
        textarea::placeholder 
            color: #999999
            font-family: 'Poppins Regular'
            font-weight: normal

        button
            cursor: none
            max-width: 220px
            color: #503f7b
            background: #f3cc65
            font-family: 'Poppins Bold'!important
    .section_home
        p
            display: block
            width: 100%
            text-align: right
            margin-top: auto
            a
                color: #fff
                text-decoration: underline
        .title
            color: #ffffff
            font-size: 36px
            width: 100%
            margin-top: 6vw
            margin-bottom: 10px
        .subtitle
            color: #ffffff
            margin-bottom: 30px
            display: block
            font-family: 'Poppins Regular'
    .section_content
        background: transparent
        display: flex
        align-items: center
        min-width: 100vw
        .section_box
            width: 100%
        .title
            font-size: 36px
            font-weight: bold
        .subtitle
            font-size: 18px
            display: block
            margin: 25px 0px
            max-width: 300px
        &_contact
            ul
                cursor: none
                max-width: 320px
                li
                    display: flex
                    align-items: center
                    margin-bottom: 40px
                    img
                        max-width: 37px
                        margin-right: 20px
                    a
                        display: block
                        font-weight: bold
                        font-size: 18px
                        cursor: none
                        position: relative
                        z-index: 1
                    span
                        font-weight: normal
                        font-size: 16px
        &_info
            img
                max-width: 110px
                display: block
                margin-bottom: 30px

            .soc-link 
                li
                    position: relative
                    z-index: 1
                    cursor: none
                    a
                        position: relative
                        z-index: 1
                        cursor: none

            .address
                font-size: 18px
                margin-top: 40px
                line-height: 26px

            .section_content_btn
                position: relative
                z-index: 1
                cursor: none
                display: flex
                align-items: center
                max-width: 155px
                margin-top: 30px
                span
                    display: block
                    position: absolute
                    right: 0
                    width: 20px
                    height: 2px
                    background: #ffffff
                    &:after, &:before
                        width: 6px
                        height: 2px
                        background: #ffffff
                        content: ""
                        display: block
                        position: absolute
                        right: 1px
                        top: 0
                    &:after
                        transform: rotate(35deg)
                        top: -2px
                    &:before
                        transform: rotate(-35deg)
                        top: 2px
            