body, html
    overflow: hidden
    cursor: none
.container
    height: 100%

.global_section
    height: 100vh
    position: absolute
    width: 100%
    transition: 0.7s
    &.active
        right: 0!important
.inner_box
    display: flex
    flex-wrap: wrap
    flex-direction: column
    justify-content: center
    height: 100%


.page

    //about page styles
    &_about
       .section
            //banner section styles
            &_banner
                background: $thr-color
                .general_title
                    color: #9cff00
            &_teamdesc
                background: url('../img/bg.jpg')
                background-size: cover
                background-repeat: no-repeat

                .general_title
                    color: #ffffff