.mous-arrow
    position: absolute
    top: -3.5vw
    left: -3.5vw
    display: none
    z-index: 5
    align-items: center
    justify-content: center
    width: 7vw
    height: 7vw
    background: rgba(107, 49, 151, 0.6)
    border-radius: 50%
    @media screen and (min-width: #{$dw-1100})
        display: flex
    &.next
        &.prev
            span
                transform: rotate(180deg)
    &.bottom
        span
            transform: rotate(90deg)
    &.previus
        span
            transform: rotate(180deg)
        &.rotate
            span
               transform: rotate(0deg) 
    span
        display: block
        position: relative
        width: 40px
        height: 40px
        background-repeat: no-repeat
        background-size: 100% 100%
        background-image: url('../img/arrow.png')
        background-color: transparent
        transition: 0.3s
    i
        position: absolute
        color: #ffffff
        top: -40px
        left: 50%
        transform: translateX(-50%)

    &.hand
        z-index: 9999
        pointer-events: none
        &.rotate
            span
               transform: rotate(0deg) 
        span
            width: 39px
            height: 52px
            background-image: url('../img/hand.png')
            background-color: transparent