.object
    position: absolute
    z-index: 10
    display: none
    transition: 1.2s 0s
    @media screen and (min-width: #{$dw-1100})
        display: block
    &.ball
        animation: 3s liner-ball infinite
        transition: 1.2s 0s
        &.num-1
            top: 50%
            left: 32%
        &.num-2
            top: 7%
            left: 58%
        &.num-3
            bottom: 60px
            left: 66%
        &.num-4
            bottom: 80px
            left: 87%
        .ball
            border-radius: 50%
            display: block
            transition: 1.2s 0s
            &.num-1
                width: 41px
                height: 41px
                background: #38f3bd
            &.num-2
                width: 76px
                height: 76px
                
                background: #fc5f58
            &.num-3
                width: 57px
                height: 57px
                background: #6aff52
                
            &.num-4
                width: 70px
                height: 70px
                background: #38f3bd
            
    &.triangle
        animation: 4.5s liner-triangle infinite
        transition: 1.2s 0s
        &.num-1
            top: 70%
            left: 20%
            .triangle
                display: block
                transition: 1.2s 0s
                border-top: 0px solid transparent
                border-bottom: 40px solid #efbe16
                border-right: 25px solid transparent
                border-left: 25px solid transparent
        &.num-2
            left: 43%
            top: 33%
            .triangle
                width: 127px
                transition: 1.2s 0s
                display: block
                height: 129px
                background-image: url('../img/trigle.svg')
                background-repeat: no-repeat
    &.squer
        top: 70%
        left: 49%
        width: 40px
        height: 40px
        background: #ffa552
        transition: 1.2s 0s

@keyframes liner-ball
    0%
        transform: translateY(0px)
    50%
        transform: translateY(30px)
    100%
        transform: translateY(0px)

@keyframes liner-triangle
    0%
        transform: translateY(0px)
    50%
        transform: translateY(30px)
    100%
        transform: translateY(0px)

.next-section
    display: block
    position: absolute
    top: 0
    right: 0px
    width: 15vw
    background: none
    height: 100vh
    z-index: 1001
    &.prev
        left: 0
    &:hover
        cursor: none
        span
            animation: 1s liner-arrow infinite
    span
        display: none
        position: absolute
        right: 0
        width: 20px
        height: 2px
        background: #e33630
        &:after, &:before
            width: 6px
            height: 2px
            background: #e33630
            content: ""
            display: block
            position: absolute
            right: 1px
            top: 0
        &:after
            transform: rotate(35deg)
            top: -2px
        &:before
            transform: rotate(-35deg)
            top: 2px

.mous-arrow
    position: absolute
    top: -60px
    left: -60px
    display: none
    z-index: 0
    align-items: center
    justify-content: center
    width: 120px
    height: 120px
    background: rgba(0, 0, 0, 0.6)
    border-radius: 50%
    @media screen and (min-width: #{$dw-1100})
        display: flex
    &.next
        &.prev
            span
                transform: rotate(180deg)
    &.previus
        span
            transform: rotate(180deg)
    span
        display: block
        position: relative
        right: 0
        width: 40px
        height: 3px
        background-color: #e33630
        &:after, &:before
            width: 12px
            height: 3px
            background: #e33630
            content: ""
            display: block
            position: absolute
            right: 1px
            top: 0
        &:after
            transform: rotate(35deg)
            top: -2px
        &:before
            transform: rotate(-35deg)
            top: 2px
    &.hand
        z-index: 9999
        pointer-events: none
        &.rotate
            span
               transform: rotate(0deg) 
        span
            width: 39px
            height: 52px
            background-image: url('../img/hand.png')
            background-color: transparent
            &:before, &:after
                display: none

@keyframes liner-arrow
    0%
        transform: translateX(0px)
    50%
        transform: translateX(10px)
    100%
        transform: translateX(0px)