@keyframes liner-arrow
    0%
        transform: translateX(0px)
    50%
        transform: translateX(10px)
    100%
        transform: translateX(0px)

@keyframes liner-rotate
    0%
        transform: rotateX(-90deg)
    30%
        transform: rotateX(60deg)
    50%
        transform: rotateX(-30deg)
    70%
        transform: rotateX(20deg)
    100%
        transform: rotateX(0deg)

@keyframes liner-object
    0%
        top: calc(23% + 0px)
    50%
        top: calc(23% + 50px)
    100%
        top: calc(23% + 0px)

@keyframes liner-object_1
    0%
        top: calc(25% + 0px)
    50%
        top: calc(25% + 50px)
    100%
        top: calc(25% + 0px)

@keyframes liner-object_2
    0%
        right: calc(0px + 0px)
    50%
        right: calc(0px + 30px)
    100%
        right: calc(0px + 0px)