@keyframes liner-arrow
    0%
        transform: translateX(0px)
    50%
        transform: translateX(10px)
    100%
        transform: translateX(0px)

@keyframes liner-rotate
    0%
        transform: rotateX(-90deg)
    30%
        transform: rotateX(60deg)
    50%
        transform: rotateX(-30deg)
    70%
        transform: rotateX(20deg)
    100%
        transform: rotateX(0deg)